<header class="fixed top-0 border-b border-gray-200 bg-white/95 backdrop-blur w-full z-1000 " [ngClass]="isScrolled ? 'scrolled': ''">
    <div class="container mx-auto px-4 py-4 flex items-center justify-between">
        <a routerLink="/" class="flex items-center space-x-2">
            <img src="nobc.png" class="h-6 w-6" alt="">
            <span class="font-bold text-lg">LinkShorty</span>
        </a>

        <div class="flex items-center gap-4">
            @if (user) {
                
                    <span class="text-sm text-gray-600 hidden sm:block">
                        Welcome, {{ user.user_metadata['first_name'] }}
                    </span>
                    
                    <button (click)="navigateToDashboard()"
                        class="px-4 py-2 text-sm border border-gray-300 rounded-xl hover:bg-[rgb(35,193,246)] hover:text-white hover:border-[rgb(35,193,246)] cursor-pointer transition-colors duration-250 hidden sm:block">
                        <svg class="inline h-4 w-4 mr-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <rect width="7" height="9" x="3" y="3" rx="1"></rect>
                            <rect width="7" height="5" x="14" y="3" rx="1"></rect>
                            <rect width="7" height="9" x="14" y="12" rx="1"></rect>
                            <rect width="7" height="5" x="3" y="16" rx="1"></rect>
                        </svg>
                        My Links
                    </button>

                    <button (click)="logout()" class="px-4 py-2 text-sm border border-gray-300 rounded-xl hover:bg-[rgb(35,193,246)] hover:text-white hover:border-[rgb(35,193,246)] cursor-pointer transition-colors duration-250 hidden sm:block">
                        <svg class="inline h-4 w-4 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
                        </svg>
                        Logout
                    </button>

                    <button (click)="profileDrop($event)" class="px-4 py-2 text-sm rounded-xl hover:bg-[rgb(35,193,246)] hover:fill-amber-50 hover:text-white hover:border-[rgb(35,193,246)] cursor-pointer transition-colors duration-250 block sm:hidden" id="hambtn" aria-expanded="false" aria-controls="mobileDrawer" aria-label="Open menu">
                        <svg width="22" height="16" viewBox="0 0 22 16"  stroke="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                          <rect y="0" width="22" height="2" rx="1"  />
                          <rect y="7" width="22" height="2" rx="1"  />
                          <rect y="14" width="22" height="2" rx="1"  />
                        </svg>
                      </button>
                
            }@else {
                
                    <button (click)="navigateToAuth()"
                        class="px-4 py-2 text-sm bg-blue-600 text-white rounded-md hover:bg-blue-700 cursor-pointer">
                        Login / Sign Up
                    </button>
                
            }
        </div>
    </div>
    
</header>
<div class="profileDropdown flex sm:hidden duration-300 flex-col origin-top border-gray-500 rounded-b-xl z-50 bg-white shadow-lg fixed left-1/2 transform -translate-x-1/2" [style.transform]="profileVisib ? 'scaleY(1)' : 'scaleY(0)'" [style.max-height]="profileVisib ? '300px' : '0'" [ngClass]="isScrolled ? 'w-4/5 top-17' : 'w-full top-16'" #profileDropdown>
    @if (user) {
        <button (click)="navigateToDashboard()"
        class="px-4 py-3 text-sm hover:bg-[rgb(35,193,246)] hover:text-white hover:border-[rgb(35,193,246)] cursor-pointer transition-colors duration-250">
        <svg class="inline h-4 w-4 mr-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <rect width="7" height="9" x="3" y="3" rx="1"></rect>
            <rect width="7" height="5" x="14" y="3" rx="1"></rect>
            <rect width="7" height="9" x="14" y="12" rx="1"></rect>
            <rect width="7" height="5" x="3" y="16" rx="1"></rect>
        </svg>
        My Links
    </button>

    <button (click)="logout()" class="px-4 py-3 text-sm rounded-b-lg hover:bg-[rgb(35,193,246)] hover:text-white hover:border-[rgb(35,193,246)] cursor-pointer transition-colors duration-250">
        <svg class="inline h-4 w-4 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
        </svg>
        Logout
    </button>
    }
    
    </div>